@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --green: orangered;
    --black: #130f40;
    --light-color: #666;

    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

}

body {
    background: #eee;
}

.btn {
    border: 2px solid black;
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--green);
    color: white;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i {
    color: orange;
}


.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--green);
}

.header .icons div {
    background: #eee;
    color: var(--black);
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    transition: .3s;
}

.header .icons div:hover {
    background: var(--green);
    color: white;
    cursor: pointer;
}

#menu-btn {
    display: none;
}

.header .navbar:active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form {
    display: none;
    position: absolute;
    top: -110%;
    right: 110%;
    width: 50rem;
    height: 5rem;
    background: white;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    display: block;
    right: 2rem;
    top: 110%;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--green);
}

.header .cart {
    border: 2px solid black;
    height: 20rem;
    width: 15rem;
    position: absolute;
    top: -120%;
    right: 2rem;
    background: white;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.header .cart.active {
    top: 12%;
    transition: .4s linear;
}

.header .shopping-cart {
    /* height: 32rem; */
    width: 30rem;
    position: absolute;
    top: -550%;
    right: 110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: white;
}

.header .shopping-cart.active {
    right: 2rem;
    top: 110%;
    transition: .4s linear;
}


.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
    padding: 1rem 0;
}

.header .shopping-cart .box img {
    height: 5rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 45%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-40%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--green);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}


.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--black);
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem 0;
}

.login-form {
    width: 32rem;
    position: absolute;
    top: -450%;
    right: 110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.login-form.active {
    right: 2rem;
    top: 110%;
    transition: .4s linear;
}

.login-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.login-form .box {
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.login-form p {
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.login-form p a {
    color: var(--green);
    text-decoration: underline;
}


/* details section */

.container {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;

}

.container .images {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 630px;
    margin-bottom: 2rem;

}


.container .images img {
    height: 500px;
    width: 500px;
    /* height: 562px;
    width: 562px; */
    padding: 1.5rem;
}

.detail {
    overflow: hidden;
}

.detail .title {
    font-size: 4rem;
    text-align: left;
    margin: 0 0 20px;
}

.detail .price {
    font-size: 1.5rem;
    display: block;
    margin: 0 0 20px;
}

.detail .price span {
    padding-left: 1rem;
    text-decoration: line-through;
}

.detail .size {
    font-size: 1rem;
    margin: 0 0 20px;
}

.detail .size .btn {
    margin-top: 3px;
}

.detail .power {
    margin: 0 0 20px;
}

.detail .power .btn {
    margin-top: 3px;
}

.detail .quantity {
    margin: 0 0 20px;
}

.detail .quantity .btn {
    margin-top: 3px;
}


.faq {
    padding-top: 2rem;
    max-width: 379.49px;
    margin: 0 auto;
  }
  
  .question {
    height: 40px;
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    cursor: pointer;
  }
  
  .answer {
    display: none;
    padding: 10px;
  }
  
 .toggle {
    font-size: larger;
    padding-bottom: 3rem;
    float: right;
    font-weight: bold;
  }
  
  
@media screen and (max-width: 991px) {
    .container {
        flex-wrap: wrap;
    }

    .container .images {
        flex-direction: row;
        max-width: 450px;
        overflow: scroll;

    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .container .images {
        flex-direction: row;
        max-width: 450px;
        overflow: scroll;

    }
}

/* media quaries  */
@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
        overflow: scroll;
        overflow-x: hidden;
    }

    .header {
        padding: 2rem;
        z-index: 100;
    }

    section {
        padding: 2rem;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .feedback-section .feedback {
        left: 25%;
        width: 40rem;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 55%;
        overflow: scroll;
        overflow-x: hidden;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: -450%;
        right: 110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active {
        right: 2rem;
        top: 110%;
        transition: .4s linear;
    }

    #menu-btn {
        display: inline-block;

    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        top: 110%;
        display: block;
    }

    .feedback-section .feedback {
        left: 12%;
        width: 30rem;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
        overflow: scroll;
        overflow-x: hidden;

    }

    .heading {
        font-size: 2.5rem;
    }

    .feedback-section .feedback {
        left: 0;
        width: 20rem;

    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container {
        flex-wrap: wrap;
    }

    .container .images {
        flex-direction: row;
        max-width: 450px;
        overflow: scroll;

    }
}
