@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --green: orangered;
    --black: #130f40;
    --light-color: #666;

    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

}

body {
    background: #eee;
}


/* details section */

.container{
    display: flex;
    padding-left: 12rem;
    gap: 2rem;
    /* height: 1296px;
    width: 1748px; */
    position: relative;
    left: 10%;
    margin-bottom: 2rem;

}

.container .images{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 630px;
    width: 562px;
    margin-bottom: 2rem ;

}


.container .images img{
    height: 562px;
    width: 562px;
    padding: 1.5rem;
}

.detail{
    overflow: hidden;
}

.detail .title{
    font-size: 4rem;
    text-align: left;
    margin: 0 0 20px;
}

.detail .price{
    font-size: 1.5rem;
    display: block;
    margin: 0 0 20px;
}

.detail .price span{
    padding-left: 1rem;
    text-decoration: line-through;
}

.detail .size{
    font-size: 1rem;
    margin: 0 0 20px;
}

.detail .size .btn{
    margin-top: 3px;
}

.detail .power{
    margin: 0 0 20px;
}

.detail .power .btn{
    margin-top: 3px;
}

.detail .quantity{
    margin: 0 0 20px;
}

.detail .quantity .btn{
    margin-top: 3px;
}

.detail .box{
    display: flex;
    flex-direction: column;
}



.detail .box .description{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 1rem;
    margin-top: 30px;
}

.detail .box .description:hover{
    cursor: pointer;
}


.detail .box .description div{
    display: flex;
    align-items: center;
}

.detail .box .description div h2{
    padding-left: 1.5rem;
}

.detail .box .description .ans p{
    padding: 30px;
    font-size: 15px;
    height: 0;
    overflow: hidden;
}

.detail .box .deli{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 1rem;
}

.detail .box .deli:hover{
    cursor: pointer;
}

.detail .box .deli div{
    display: flex;
    align-items: center;
}

.detail .box .deli div h2{
    padding-left: 1rem;
}



